@import '../variables.scss';

.todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 200px;
  &__wrapper {
    position: relative;
    background: #e5e5e5;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: flex-start;
    box-shadow: 1px 1px 26px -16px rgba(0, 0, 0, 0.75);
    width: 100%;
    min-height: 200px;
    @include xs-devices {
      max-width: 90.7%;
      margin: 0 auto;
    }
  }
}
