@import '../variables.scss';

.add_list_popup__colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .colors_badges {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    li {
      position: relative;
      display: inline-block;
      border-radius: 50%;
      margin: 0 5px 0 0;
      width: 18px;
      height: 18px;
      border: 2px solid transparent;
      cursor: pointer;
      transition: 0.2s ease;
      i {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        &.active {
          border: 2px solid $color-main;
        }
      }
    }
    li:last-of-type {
      margin: 0;
    }
  }
}
