@import '../variables.scss';

.todo__sidebar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: $font-main;
  color: $color-black;
  width: 100%;
  max-width: 200px;
  height: 100%;
  padding: 50px 20px 50px 20px;
  border-right: 1px solid #f1f1f1;
  &_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    li {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      font-family: $font-main;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.2px;
      color: $color-black;
      margin: 0 0 2vh 0;
      max-width: 100%;
      width: 100%;
      cursor: pointer;
      &.active {
        background: #fff;
        padding: 10px 0px 10px 10px;
        border-radius: 4px;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
        margin: 0 0 2vh 0;
      }
      i {
        position: relative;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 9px 0 0;
        width: 18px;
        height: 18px;
        svg {
          max-width: 100%;
          height: auto;
          opacity: 0.5;
        }
        .badge {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 10px;
          height: 10px;
          border-radius: 30px;
        }
      }
      span {
        display: inline-flex;
      }
    }
    li:first-of-type {
      margin: 0 0 4vh 0;
    }
    li:last-of-type {
      margin: 0;
    }
  }
  &_add_btn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    li {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      font-family: $font-main;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.2px;
      color: $color-secondary;
      margin: 0 0 2vh 0;
      max-width: 100%;
      width: 100%;
      cursor: pointer;
      transition: 0.2s ease;
      &:hover,
      &:focus {
        span {
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
          transition: 0.2s ease;
        }
      }
      span {
        display: inline-flex;
        position: relative;
        padding: 0 0 0 25px;
        transition: 0.2s ease;
      }
      span::before {
        content: '';
        position: absolute;
        left: calc(0% + 8px);
        top: calc(0% + 4px);
        background: #767676;
        width: 2px;
        height: 10px;
        transform: rotate(90deg);
      }
      span::after {
        content: '';
        position: absolute;
        right: calc(100% - 10px);
        top: calc(0% + 4px);
        background: #767676;
        width: 2px;
        height: 10px;
      }
    }
    li:last-of-type {
      margin: 0;
    }
  }
}
.todo__sidebar_add_btn_wrapper {
  position: relative;
  margin: 4vh 0 0 0;
  width: 100%;
  .add_list_popup {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    max-width: 100%;
    width: 235px;
    min-height: 148px;
    left: 0;
    top: calc(0% + 30px);
    background: #ffffff;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 18px;
    &__close_btn {
      position: absolute;
      right: calc(0% - 10px);
      top: calc(0% - 10px);
      max-width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

  .input_field {
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    border: 1px solid #efefef;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: $font-main;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.15px;
    padding: 8px 11px;
    color: $color-secondary;
    transition: 0.2s ease;
    &:focus,
    &:hover {
      border-color: $color-placeholder;
      transition: 0.2s ease;
    }
  }

  .input_field:focus::placeholder,
  .input_field.active::placeholder {
    transition: 0.2s ease;
    opacity: 0;
  }

  .input_field::placeholder {
    color: $color-placeholder;
    letter-spacing: 0.15px;
    opacity: 1;
    transition: 0.2s ease;
  }

  .add_btn {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: $font-main;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.15px;
    color: #ffffff;
    background: $btn-color;
    border: transparent;
    border-radius: 4px;
    width: 100%;
    max-width: 100%;
    min-height: 37px;
    transition: 0.2s ease;
    cursor: pointer;
    &:hover {
      background: darken($btn-color, 6%);
      transition: 0.2s ease;
      color: $color-main;
    }
    &:active {
      background: darken($btn-color, 10%);
      transition: 0.2s ease;
      color: $color-main;
    }
  }
}
