@import '../variables.scss';

.tasks__form {
  position: relative;
  padding: 40px 0 0 0;
  width: 100%;
  &_new {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 6px;
    cursor: pointer;
    &:hover {
      .add_icon {
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
        transition: 0.2s ease;
      }
      span {
        filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.5));
        transition: 0.2s ease;
      }
    }
    .add_icon {
      position: relative;
      width: 10px;
      height: 10px;
      display: block;
      margin: 0 15px 0 0;
      transition: 0.2s ease;
    }
    .add_icon::before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 2px;
      background: $color-secondary;
    }
    .add_icon::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 2px;
      height: 100%;
      background: $color-secondary;
    }

    span {
      font-family: $font-main;
      font-size: 14px;
      line-height: 17px;
      color: $color-secondary;
      letter-spacing: 0.15px;
      transition: 0.2s ease;
    }
  }
  .form__inner {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    input {
      padding: 10px 10px 10px 25px;
      border: 1px solid $color-checkbox-border;
      width: 70%;
      font-size: 16px;
    }
    &__body {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      margin: 2vh 0 2vh 0;
      button {
        -webkit-appearance: none;
        appearance: none;
        background: $btn-color;
        border: 1px solid $btn-color;
        font-size: 16px;
        max-width: 145px;
        width: 100%;
        min-height: 34px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        color: $color-main;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2s ease;
        @include xs-devices {
          font-size: 14px;
          max-width: 45%;
        }
        &:hover {
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
          transition: 0.2s ease;
        }
        &:disabled {
          background: $btn-disabled;
          border: transparent;
          pointer-events: none;
        }
      }
      span {
        max-width: 90px;
        width: 100%;
        min-height: 34px;
        font-size: 16px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: $color-checkbox-border;
        border-radius: 4px;
        margin: 0 0 0 2vw;
        cursor: pointer;
        transition: 0.2s ease;
        @include xs-devices {
          font-size: 14px;
          max-width: 45%;
        }
        &:hover {
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.75);
          transition: 0.2s ease;
        }
      }
    }
  }
}
