@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import './variables.scss';

* {
  font-size: 14px;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-stack;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    @include xl-devices {
      max-width: 1140px;
    }
    @include lg-devices {
      max-width: 960px;
    }
    @include md-devices {
      max-width: 720px;
    }
    @include sm-devices {
      max-width: 540px;
    }
    @include xs-devices {
      padding: 0 15px;
    }
  }
}
