@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import './variables.scss';

* {
  font-size: 14px;
  font-family: $font-stack;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-stack;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .container {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    @include xl-devices {
      max-width: 1140px;
    }
    @include lg-devices {
      max-width: 960px;
    }
    @include md-devices {
      max-width: 720px;
    }
    @include sm-devices {
      max-width: 540px;
    }
  }

  .thumb_vertical {
    background: $btn-color;
    border-radius: 2em;
    animation: thumbColorToggle 5s ease-in-out infinite both;
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
    top: 5px;
    right: 5px;
  }

  .thumb_horizontal {
    background: $btn-color;
    border-radius: 2em;
    animation: thumbColorToggle 5s ease-in-out infinite both;
    box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.75);
    bottom: 5px;
    left: 5px;
  }
}

@keyframes thumbColorToggle {
  0% {
    background: $btn-color;
  }
  50% {
    background: $btn-disabled;
  }
  75% {
    background: $color-blue;
  }
  100% {
    background: $btn-color;
  }
}
